
<div class="grid">
  <div>
      <div class="search">
          <input fullWidth id="search" autocomplete='off' [(ngModel)]="address" (keyup)="getAddressByName($event)" class="input-map" type="text" nbInput placeholder="Buscar dirección">
          <nb-card *ngIf="addresses.length" class="option-box">              
                <ul>
                    <li *ngFor="let address of addresses" (click)="selectedAddress(address.place_id)">{{address.description}}</li>
                </ul>
          </nb-card> 
      </div>        
      <div class="map">       
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)">
              </agm-marker>
          </agm-map>
      </div>
  </div>  
  <div class="data">                    
      <form [formGroup]="fieldForm" (ngSubmit)="createField()">                    
        <div class="section">
            <input
                nbInput 
                type="text"
                fullWidth 
                placeholder="Nombre" 
                formControlName="fieldName"/>

            <p class="caption status-danger" *ngIf="fieldForm.get('fieldName').hasError('pattern')">Ingrese solo letras y/o números</p>
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldName').touched && fieldForm.get('fieldName').hasError('required')">Campo requerido</p>
        </div>
        <div class="section">
            <input type="text" nbInput fullWidth placeholder="Número de Sectores" formControlName="fieldSectors">
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldSectors').hasError('pattern')">Ingrese solo letras y/o números</p>
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldSectors').touched && fieldForm.get('fieldSectors').hasError('required')">Campo requerido</p>
        </div>
        <div class="section">
            <input type="text" nbInput fullWidth placeholder="Número de Plantas" formControlName="fieldPlants">
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldPlants').hasError('pattern')">Ingrese solo letras y/o números</p>
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldPlants').touched && fieldForm.get('fieldPlants').hasError('required')">Campo requerido</p>
        </div>
        <div class="section">
            <input type="text" nbInput fullWidth placeholder="Número de Frutos" formControlName="fieldFruits">
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldFruits').hasError('pattern')">Ingrese solo letras y/o números</p>
            <p class="caption status-danger" *ngIf="fieldForm.get('fieldFruits').touched && fieldForm.get('fieldFruits').hasError('required')">Campo requerido</p>
        </div>
        <div class="section"> <p class="label">Latitude</p><p>{{latitude}}</p></div>
        <div class="section"> <p class="label">Longitud</p> <p>{{longitude}}</p></div>
        <div class="submit-button"><button type="submit" [disabled]="!fieldForm.valid" nbStepperNext fullWidth nbButton status="primary">Crear campo</button></div>
      </form>
  </div>              
</div>